<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="checkout-summary-product-attribute" type="Vexpro\CompraPontos\Plugin\Checkout\Model\DefaultConfigProvider" />
    </type>

    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="plugin_pontos_usados"
                type="Vexpro\CompraPontos\Plugin\OrderRepositoryPlugin" />
    </type>

	<virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="pontos_usados" xsi:type="string">sales_order.pontos_usados</item>
            </argument>
        </arguments>
    </virtualType>

   <type name="Magento\Payment\Model\MethodList">
        <plugin name="add_new_attribute_to_quote_data" type="Vexpro\CompraPontos\Model\DefaultConfigProviderPlugin" />
    </type>

</config>